%header
	%h1 When the fruit is ripe it falls from the tree, we will use those seeds to plat more trees.
	%h1 Thank you for everyhing, will miss you
	= image_tag "sun.gif", :class => "desaturated-sun"
%section
	= image_tag "tree-stem.png", :class => "stem"
	#tree-crown
		= image_tag "mathias.jpg", :class => "mathias wiggle"
		= image_tag "tree-crown.png", :class => "leaves"
%footer
	= image_tag "grass.png", :class => "grass"