%header
	= image_tag "sun.gif", :class => "desaturated-sun"
	%h1 Will use the seeds from Yggdrasil to plant more trees.
	%h1 Thank you for everything, will miss you!
%section
	= image_tag "tree-stem.png", :class => "stem"
	#tree-crown
		= image_tag "sam.jpg", :class => "sam wiggle"
		= image_tag "russ.jpg", :class => "russ wiggle"
		= image_tag "richard.jpg", :class => "richard wiggle_reverse"
		
		= image_tag "marko.jpg", :class => "marko wiggle_reverse"
		
		= image_tag "mathias.jpg", :class => "mathias wiggle"
		= image_tag "jason.jpg", :class => "jason wiggle_reverse", :id => "jason"
		
		= image_tag "kim.jpg", :class => "kim wiggle_reverse"
		= image_tag "assunta.jpg", :class => "assunta wiggle", :width => "40px", :height => "40px"
		
		= image_tag "dave.jpg", :class => "dave wiggle"
		
		= image_tag "johnny.jpg", :class => "johnny wiggle_reverse", :width => "40px", :height => "40px"
		= image_tag "tree-crown.png", :class => "leaves"
%footer
	= image_tag "grass.png", :class => "grass"